body, h1, ul {
    margin: 0;
    padding: 0;
}

/* Define some basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #8080803d;
    color: black;
    font-size: large;
}
a{
    text-decoration: none;
}

/* Style the navigation bar */
nav {
    background-color: #1877F2;
    overflow: hidden;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    height: 30px;
    text-align:justify;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: cursive;
    margin-left: 10px;
    margin-right: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
    color: black;
    width: 10px;
}

nav a {
    text-decoration:#1877F2;
    color: white;
    font-size: large;
}
.nav-links li:last-child {
    margin-right: 0;
}

/* Style the header */
header {
    text-align: center;
    padding: 10px 0;
    padding-top: 50px;
    font-style: italic;
}
footer{
    text-align: center;
    background-color: #1877F2;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: cursive;
    text-decoration: none;
    height: 30px;
   
}

h1 {
    font-size: 36px;
}
h2 {
 color: #1877F2;
 font-style: italic;
}
#ul-li{
    margin-left: 30px;
}
/* Style the sections */
section {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: justify;
}